header {
  color: rgb(103, 182, 213);
  font-weight: bold;
  font-size: 50px;
  background-color: white;
}

footer {
  color: rgb(103, 182, 213);
  font-weight: bold;
  font-size: 24px;
  background-color: white;
}
body {
  background-color: rgb(103, 182, 213);
}
/* #gradient {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
} */

/* responsivity */
@media screen and (max-width: 700px) {
  header {
    color: rgb(255, 201, 201);
  }
  footer {
    color: rgb(255, 201, 201);
  }
  body {
    background-color: rgb(255, 201, 201);
  }
}
@media screen and (min-width: 1000px) {
  header {
    color: rgb(129, 226, 131);
  }
  footer {
    color: rgb(129, 226, 131);
  }
  body {
    background-color: rgb(129, 226, 131);
  }
}
